html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  background-color: #dcd4cd;
  margin: 0;
  display: block;
  color: #512200;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  border: 2px solid #9a816d;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
  padding: .4em .75em .5em;
  color: #512200;
  font-family: Dosis, sans-serif;
  font-family: bold;
}

body {
  background-color: #f0eee8;
}

p {
  margin: 0;
  font-family: Georgia, serif;
  text-decoration: none;
  list-style-type: none;
}

dd {
  float: right;
  width: 40%;
  font-style: italic;
}

dt {
  float: left;
  width: 40%;
  display: inline-block;
  margin-left: 0;
}

dl {
  padding: 1rem;
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  line-height: 1.5;
  margin: 1rem;
  border-right: none;
  border-left: none;
  overflow: hidden;
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 1.5rem;
}

.btn {
  margin: auto;
  margin-bottom: 1rem;
  display: block;
  color: #fff;
  border-radius: 8px;
  background-color: #785439;
  padding: .5em;
  text-decoration: none;
  max-width: 7em;
  font-family: Dosis, sans-serif;
  list-style-type: none;
  font-weight: bold;
}

.list {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #512200;
}

.list-2 {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #512200;
}

.link-card h2 {
  text-decoration: none;
  font-size: 1.5rem;
  padding: .4em .75em .5em;
  margin: 0;
  font-family: Dosis, sans-serif;
}

.link-card:hover {
  background-color: #cabdb2;
}

.btn:hover {
  background-color: #512200;
}
