html {
  box-sizing: border-box;
  background-color: #f0eee8;
  text-decoration: none;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  text-decoration: none;
  background-color: #512200;
  margin-left: 1em;
  font-size: 1.5rem;
  border-radius: 3px;
  margin: 0;
  border-color: #9a816d, solid 3px;
}

header {
  background-color: #cabdb2;
}

h1 {
  color: #512200;
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
  padding: .4em .75em .5em;
}

.link-card:hover {
  border-color: #dcd4cd;
  margin: 0;
  display: block;
}

body {
  background-color: #9a816d;
}

p {
  margin: 0;
  font-family: Georgia, serif;
  text-decoration: none;
}

dd {
  float: right;
  width: 50%;
  font-size: .875rem;
}

dt {
  float: left;
  width: 50%;
  font-size: .875rem;
}

dl {
  padding: 1rem;
  border-top: #785439 2px, solid;
  border-bottom: #785439 2px, solid;
}

.btn:hover {
  background-color: #512200;
}

.btn {
  margin: auto;
  margin-bottom: 1rem;
  display: block;
  color: #fff;
  border-radius: 8px;
  font-family: Dosis, sans-serif;
  font-size: 1.125rem;
  background-color: #785439;
  padding: .5em;
  text-decoration: none;
  text-align: center;
  max-width: 9px;
  max-width: 7em;
}

.list {
  font-family: Georgia, serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  color: #512200;
}

.list-2 {
  font-family: Georgia, serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  color: #512200;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  padding: .4em .75em .5em;
  margin: 0;
}
